#browser.color-behind-tabs-off .tab-position .tab.active.active {
  background-color: var(--colorHighlightBg);
  color: var(--colorHighlightFg);
}

.color-behind-tabs-off .tab-position .tab .stack-counter {
  background-color: var(--colorHighlightBg);
  color: var(--colorHighlightFg);
}

.color-behind-tabs-off .tab-position .tab.active .stack-counter {
  background-color: var(--colorHighlightFg);
  color: var(--colorHighlightBg);
}

.tab-position .tab.unread {
    background-image: linear-gradient(-135deg, var(--colorHighlightBg) 5px, transparent 5px);
}
